<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>

    <!-- Main Header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="About-Us" class="img-fluid" title="SemperFi">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>About this Website</p>
                        <h1>I have made it using <span style="color: cornflowerblue;">Apple Dark Sky</span> technology. Check it out in the weather section</h1>
                        <a href="/weather">
                            <button class="txt_clr">Weather Section</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('partials/footer') %>
</body>
</html>